@using System.Collections.Generic
@using LoginReg.Models
@model UserTransaction

<h1>Welcome @Model.user.FirstName</h1>
<p>Current Balance: @Model.user.Balance</p>
<a href ="/logout">Logout</a>
@{
    if( @Model.user.UserTransactions!= null)
    {
        foreach(var t in @Model.user.UserTransactions)
        {
            <p>Amount: @t.Amount USD | Date: @t.CreatedAt</p>
        } 
    }

}

<partial model="@Model.transaction" name="TransactionsPartial" />
